
<label><strong>Post title:</strong> <%= @post.title %></label><br>
<label><strong>Post content:</strong> <%= @post.content %></label><br>

<label><strong>This post's categories:</strong>
  <ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
  </ul>

<label><strong>List of comments:</strong></label>
  <ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.content %> -<%= link_to comment.user.username, comment.user %></li>
  <% end  %>
  </ul>

<!-- <label><strong>List of users without duplicates:</strong></label>
<ul>
<%# @users.uniq.each do |user| %>
  <li><%# link_to user.username, user_path(user) %></li>
<%# end  %>
</ul> -->

<br>
<hr>
<br>

<%= form_for @comment do |f| %>
  <%= f.label "Select your username:" %> <br>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: ""%> <br>
  <br>
  <%= f.fields_for :users_attributes, @post.users.build do |users_fields| %>
    <%= users_fields.label "Can't find your username? Add one here:" %> <br>
    <%= users_fields.text_field :username %><br>
  <% end %> <br>
  <%= f.label "Share your comment:" %> <br>
  <%= f.hidden_field :post_id %>
  <%= f.text_area :content %> <br>
  <%= f.submit %>
<% end %>
